*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.body{
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    height: 0%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 200px;
    background-color: white;
}
.logo{
    font-size: 40px;
    font-family: fantasy;
    color: rgb(116, 155, 78);
    padding-right: 350px;
    cursor: pointer;
}
span{
    font-size: 44px;
    font-family: fantasy;
    color: rgb(38, 117, 14);
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(116, 155, 78);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 30px;
}
nav ul li a:hover{
    border: 2px solid none;
    border-radius: 8px;
    background-color: darkgreen;
    color: white;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 90px;
    background-color: white;
}
.content h4{
    color: black;
    font-size: 20px;
    font-family: cursive;
    width: 50%;
    margin-top: 50px;
}
.content h2{
    color: black;
    font-size: 30px;
    font-family: cursive;
    width: 50%;
    margin-top: 30px;
}
.content button{
    width: 10%;
    border: 2px solid none;
    border-radius: 4px;
    box-shadow: 5px 5px 5px 0px black;
    background-color: rgb(10, 63, 10);
    color: white;
    padding: 15px;
    margin-top: 30px;
    margin-left: 240px;
    text-align: center;
    cursor: pointer;
}
.content button:hover{
    background-color: gray;
    transition: .4s;
}
.content img{
    mix-blend-mode: multiply;
    width: 30%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
}
h1{
    text-align: center;
    color: darkgreen;
    font-family: cursive;
    margin-top: 200px;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    height: auto;
}
.flex1 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;
    margin: 20px;
    padding: 40px;
}
.flex1 h2{
    text-align: center;
    font-size: 30px;
    color: black;
}
.flex1 p{
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 15px;
}
.flex1 img{
    mix-blend-mode: multiply;
    width: 90%;
    height: 90%;
    align-items: center;
}
.flex1 button{
    border: 2px solid black;
    border-radius: 2px;
    background-color: darkgreen;
    color: white;
    margin-top: 9px;
    padding: 10px;
    box-shadow: 5px 5px 5px none;
}
.flex1 button:hover{
    background-color: gray;
    transition: .4s;
}
.flex2 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;
    margin: 20px;
    padding: 33px;
}
.flex2 h2{
    text-align: center;
    font-size: 30px;
    color: black;
}
.flex2 p{
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 15px;
}
.flex2 img{
    mix-blend-mode: multiply;
    width: 90%;
    height: 90%;
    align-items: center;
}
.flex2 button{
    border: 2px solid black;
    border-radius: 2px;
    background-color: darkgreen;
    color: white;
    margin-top: 9px;
    padding: 10px;
    box-shadow: 5px 5px 5px none;
}
.flex2 button:hover{
    background-color: gray;
    transition: .4s;
}
.flex3 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;
    margin: 20px;
    padding: 33px;
}
.flex3 h2{
    text-align: center;
    font-size: 30px;
    color: black;
}
.flex3 p{
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 15px;
}
.flex3 img{
    mix-blend-mode: multiply;
    width: 90%;
    height: 90%;
    align-items: center;
}
.flex3 button{
    border: 2px solid black;
    border-radius: 2px;
    background-color: darkgreen;
    color: white;
    margin-top: 9px;
    padding: 10px;
    box-shadow: 5px 5px 5px none;
}
.flex3 button:hover{
    background-color: gray;
    transition: .4s;
}
.flex4{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
.flex4 h2{
    text-align: center;
    font-size: 30px;
    color: black;
}
.flex4 p{
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 15px;
}
.flex4 img{
    mix-blend-mode: multiply;
    width: 90%;
    height: 90%;
    align-items: center;
}
.flex4 button{
    border: 2px solid black;
    border-radius: 2px;
    background-color: darkgreen;
    color: white;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 5px 5px 5px none;
}
.flex4 button:hover{
    background-color: gray;
    transition: .4s;
}
.footer{
    width: 100%;
    height: auto;
    background-color: darkgreen;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}
.footer h2{
    color: rgb(22, 21, 21);
    font-size: 20px;
    font-family: cursive;
    padding-top: 40px;
}
.footer p{
    color: rgb(19, 18, 18);
    font-size: 15px;
    font-family: cursive;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer img{
    height: 45px;
    width: 45px;
    padding: 10px;
    cursor: pointer;
}
.footer h4{
    color: rgb(24, 23, 23);
    font-size: 20px;
    font-family: cursive;
    padding-bottom: 50px;
}
